<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="body">
    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/75388117_2527635240657134_361822063788294144_n.jpg?_nc_cat=104&_nc_oc=AQknkQAsQk7eWtccY94qq0acB74JKcd7uYXL1zTU0yV0_pralJbUuf6mulwLycGYeQE&_nc_ht=scontent-bog1-1.xx&oh=a75a5541e2734ff1cfae69ab4db81cad&oe=5E595660"/>
    <ion-button shape="round" expand="full" size="small" (click)="goPageYo()" color="warning">Yo</ion-button>
    <ion-button shape="round" expand="full" size="small" (click)="skills()" color="warning">Mis Skills</ion-button>
    <ion-button shape="round" expand="full" size="small" (click)="estudios()" color="warning">Estudios</ion-button>
    <ion-button shape="round" expand="full" size="small" (click)="proyectos()" color="warning">Proyectos</ion-button>
    <ion-button shape="round" expand="full" size="small" (click)="hobbies()" color="warning">Hobbies</ion-button>
 
</ion-content>
