<ion-header>
  <ion-toolbar>
  
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Carlos Rodríguez</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bienvenido a mi perfil personal y profesional</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>¡Sígueme y mira mi trabajo!</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/" detail>
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>GitHub</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding" detail>
        <ion-icon slot="start" color="medium" name="logo-instagram"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-item >
      <ion-item href="https://ionicframework.com/docs/layout/structure" detail>
        <ion-icon slot="start" color="medium" name="logo-twitter"></ion-icon>
        <ion-label>Twitter</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics" detail>
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
