<ion-header>
  <ion-toolbar>
      <my-back slot="start"></my-back>
    <ion-title>hobbies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-cardimg title="Deporte" info="Me gusta hacer ejercicio y practico Baloncesto" 
    img="https://cdn.pixabay.com/photo/2017/04/25/05/44/basketball-2258650_960_720.jpg"></app-cardimg>

    <app-cardimg title="Videojuegos" info="En mis tiempoos libres me gusta jugar videojuegos para 
    liberar mi mente" 
    img="https://cdn.pixabay.com/photo/2016/07/10/21/53/super-mario-1508624_960_720.jpg"></app-cardimg>

    <app-cardimg title="Compartir en familia" info="Una de las cosas que mas me gustan y más disfruto 
    es compartir tiempo con mi familia, reir con ellos y socializar con ellos" 
    img="https://cdn.pixabay.com/photo/2019/06/17/08/41/pair-4279436_960_720.jpg"></app-cardimg>

    <app-cardimg title="Viajar" info="Sin duda, una de mis mas grandes pasiones es la de viajar, 
    primero conocer bien mi departamento, después viajar por todo mi país y finalmente por todo el mundo" 
    img="https://cdn.pixabay.com/photo/2017/04/10/14/08/freedom-2218616_960_720.jpg"></app-cardimg>

</ion-content>
