<ion-header>
  <ion-toolbar>
      <my-back slot="start"></my-back>
    <ion-title>skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-card title="Desarrollo web" info="Desarrollo de aplicaciones web con tecnolgías web básicas
     como HTML, CSS, JavaScript y Frameworks de desarrollo como Angular"
      img="https://cdn.pixabay.com/photo/2018/11/13/18/05/html-3813614_960_720.jpg"></app-card>

     <app-card title="Desarrollo Móvil" info="Desarrollo de aplicaciones móviles híbridas y nativas en android,
       también manejo los frameworks de cordova e ionic para desarrollo híbrido, además del manejo del framework 
       de Android studio para el desarrollo móvil nativo del mismo"
        img="https://cdn.pixabay.com/photo/2018/01/28/10/59/internet-3113279_960_720.jpg"></app-card>

       <app-card title="Desarrollo Standalone" info="Desarrollo de aplicaciones de escritorio, aplicaciones para 
       la administración de información, desarrollando módulos genéricos e implementando buenas prácticas" 
       img="https://cdn.pixabay.com/photo/2015/07/31/09/03/laptop-868816_960_720.jpg"></app-card>

       <app-card title="Bases de datos" info="Manejo bases de datos relacionales, con los motores
       de oracle y SQL" img="https://cdn.pixabay.com/photo/2017/10/26/17/39/server-2891812_960_720.jpg"></app-card>

       <app-card title="Edición de video" info="Tengo experiencia en la edición de video, con experiencia en 
       Son vegas pro, Camtasia studio y Adobe Premiere pro" 
       img="https://cdn.pixabay.com/photo/2017/12/11/23/52/coding-3013602_960_720.jpg"></app-card>

</ion-content>
