<ion-header>
  <ion-toolbar>
    <my-back slot="start"></my-back>
    <ion-title>proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-cardinfo title="Really English App" info="Desarrollamos junto con mis compañeros de trabajo, un software para 
    la administración de informacion de contratos, informacion de estudiantes y pagos de mensualidades para la empresa 
      Really English Editorial"></app-cardinfo>
    
    <app-cardinfo title="Wallet App" info="Desarrollé un software standalone de tipo cartera para un comerciante de 
      productos agricolas, el cual tenía problemas de organización de información y cuentas monetarias"></app-cardinfo>
    
    <app-cardinfo title="Statics Manager" info="Desarrollé un software standalone de procesamiento de datos para generar 
    informaciòn, software realizado para el conteo y tabulaciòn masivo de una prueba aplicada a abogados, software que se 
    desarollò para la ESAP"></app-cardinfo>

</ion-content>